@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 0.5em;
}

.image-backdrop {
  width: 100vw;
  height: 100vh;
  background-image: url("https://iili.io/fKCLv4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  -webkit-animation: fadeIn 25s linear;
  animation: fadeIn 25s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.text {
  position: absolute;
  font-size: 3em;
  margin: auto auto auto 20px;
  /* margin-left: 20px; */
  width: 700px;
  -webkit-animation: scrollUp 20s ease-out;
  animation: scrollUp 20s ease-out;
}

@-webkit-keyframes scrollUp {
  0% {
    -webkit-transform: translateY(110vh);
    transform: translateY(110vh);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes scrollUp {
  0% {
    -webkit-transform: translateY(110vh);
    transform: translateY(110vh);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-filter: opacity(0);
    filter: opacity(0);
  }
  100% {
    -webkit-filter: opacity(1);
    filter: opacity(1);
  }
}

@keyframes fadeIn {
  0% {
    -webkit-filter: opacity(0);
    filter: opacity(0);
  }
  100% {
    -webkit-filter: opacity(1);
    filter: opacity(1);
  }
}